/* * {
    box-sizing: border-box;
} */

html, body {
    margin: 0;
    overscroll-behavior-y: contain;
}

h1 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#arl, #arr {
    cursor: pointer;
}

#arl:hover {
    background-color: #ebebeb;
}
#arr:hover {
    background-color: #f8f8f8;
}


/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */


.row {
    text-align: center;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.column { /* right, width and background-color via column.js */
    position: absolute;
    padding: 0 3% 0 0%; /* top right bottom left   => overlap => background not visible during swipe animation */
    height: 100%;
    width: 20%;
}

.column-wider {
    width: 40%;
}

.column:before {    
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 11px solid white;
    border-bottom: 6px solid transparent;
}

.column p {
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: #383838;
    font-size: 16px;
    min-height: 19px;
    width: 82%;
    word-wrap: break-word;
    border: 0 solid #b2b2b2;
    border-width: 0px 0px 1px 0px;
    border-radius: 12px;
    padding: 5px;
    margin: 0;
    margin-bottom: 2px;
    margin-left: 8%;
    background-color: #a9b978;
    text-align: center;    
    user-select: none;
}

.column p:hover {
    cursor: pointer;
}

.siblings {
    padding: 8px;
    padding-left: 0;
    padding-right: 0;
    /* border: 1px dashed white; */
}

.column .haschildren {
    border-radius: 8px 0px 0px 8px;
    /* border-left: 2px solid #dddddd; */
}

.mid-cell {
    position: relative;
    top: 50%;
    width: 100%;
}

.column p.hgl {
    font-weight: bold;
    border-bottom-width: 2px;
    cursor: text;
}

p.active {
    background-color: #fad260;
    border-bottom-color: white;
    user-select: auto;
}

.fadein {
    animation-duration: 1.0s;
    animation-name: opac;
}@keyframes opac {
    0%, 33% {opacity:0}
    100% {opacity:1}
}

