html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/css/my.css')
    title treemory
  body
    //- div.row
    //-   div.column
    //-       div.mid-cell#subinputs
    //-   div.column
    //-     div.mid-table
    //-       div.mid-cell#superinputs
    //-   div.column#firstcolumn
    //-     div.mid-table
    //-       div.mid-cell#firstinputs
    //-         input
    //-         input
    //-         input
    //-         input
    //-         p#moves
    //-         input

  
    script(type='module' src= '/js/memotree.js')